@use '/src/theme.scss' as theme;

.favorites-page {
  padding: 1.25rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    color: theme.$white-color;
  }

  .painting-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 1.25rem;

    @media (max-width: 26.25rem) {
      gap: 1rem;
    }
  }

  p {
    font-size: 1.2rem;
    color: theme.$white-color;

    @media (max-width: 26.25rem) {
      font-size: 1rem;
    }
  }
}
