.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  
    label {
      font-size: 1rem;
      margin-bottom: 5px;
    }
  
    input {
      padding: 10px;
      width: 100%;
      max-width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
    .search-buttons {
      display: flex;
      gap: 10px;
  
      .favorite-btn {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
  
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  
    @media (max-width: 420px) {
      input {
        font-size: 0.9rem;
        padding: 8px;
      }
  
      .search-buttons {
        flex-direction: column;
        gap: 8px;
  
        .favorite-btn {
          font-size: 0.9rem;
          padding: 8px;
        }
      }
    }
  }
  