@use '/src/theme.scss' as theme;

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;

  label {
    font-size: 1rem;
    margin-bottom: 0.3125rem;
  }

  .error-message {
    padding: theme.$padding-base;
    margin-bottom: 0.95rem;
    color: theme.$red-color;
    background-color: theme.$gray-color;
    border: theme.$border-width solid theme.$red-color;
    border-radius: theme.$border-radius;
  }

  input {
    padding: theme.$padding-base;
    width: 100%;
    max-width: 18.75rem;
    border: theme.$border-width solid #ccc;
    border-radius: theme.$border-radius;
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }

  .search-buttons {
    display: flex;
    gap: 0.625rem;

    .favorite-btn {
      padding: theme.$padding-base;
      background-color: #007bff;
      color: theme.$white-color;
      border: none;
      border-radius: theme.$border-radius;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: theme.$primary-color;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  @media (max-width: 26.25rem) {
    input {
      font-size: 0.9rem;
      padding: theme.$padding-sm;
    }

    .search-buttons {
      flex-direction: column;
      gap: 0.5rem;

      .favorite-btn {
        font-size: 0.9rem;
        padding: theme.$padding-sm;
      }
    }
  }
}
