@use '/src/theme.scss' as theme;

.burger-menu {
  position: absolute;
  top: theme.$padding-sm;
  right: theme.$padding-sm;
  z-index: 1000;
  display: block;

  @media (min-width: 48rem) {
    display: none;
  }

  .burger-toggle {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: theme.$white-color;
    transition: transform 0.3s ease;

    &:hover {
      transform: rotate(90deg);
    }

    &.hidden {
      display: none;
    }
  }

  .menu {
    position: absolute;
    top: 2.5rem;
    right: 0;
    background: theme.$secondary-color;
    border: none;
    box-shadow: theme.$box-shadow;
    padding: theme.$padding-base;
    border-radius: theme.$border-radius;
    min-width: 12, 5rem;
    display: none;
    z-index: 1000;
    animation: slide-in 0.3s ease;

    &.active {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          color: theme.$white-color;
          font-size: theme.$font-size-lg;
          font-weight: bold;
          display: block;
          padding: theme.$padding-sm;
          border-radius: theme.$border-radius;
          transition:
            background-color 0.3s ease,
            transform 0.2s ease;

          &:hover {
            background-color: theme.$primary-color;
            transform: translateX(0.3125rem);
          }
        }
      }
    }
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-0.625rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
