@use '/src/theme.scss' as theme;

.loader-details {
  border: 0.25rem solid #f3f3f3;
  border-top: 0.25rem solid #3498db;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.artwork-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;

  .artwork-image {
    max-width: 100%;
    max-height: 18.75rem;
    margin-bottom: 1.25rem;
    border-radius: theme.$border-radius;
    box-shadow: theme.$box-shadow;
  }

  .favorite-btn {
    padding: theme.$padding-base;
    margin: 0.625rem 0;
    background-color: #007bff;
    color: theme.$white-color;
    border: none;
    cursor: pointer;
    border-radius: theme.$border-radius;
    font-size: 1rem;

    &:disabled {
      background-color: #ccc;
    }
  }

  .artwork-info {
    text-align: center;

    h1 {
      font-size: 1.8rem;
      margin-bottom: 0.625rem;
    }

    p {
      font-size: 1rem;
      margin: 0.3125rem 0;
    }
  }

  @media (max-width: 26.25rem) {
    padding: 0.625rem;

    .artwork-image {
      max-height: 15.625rem;
    }

    .favorite-btn {
      font-size: 0.9rem;
      padding: theme.$padding-sm;
    }

    .artwork-info {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
