$primary-color: #0056b3 !default;
$secondary-color: #000000e6 !default;
$white-color: #ffffff !default;
$gray-color: #555 !default;
$black-color: #000000 !default;
$red-color: #d8000c !default;

$font-family: 'Lexend Deca', Arial, sans-serif !default;
$font-size-base: 1rem !default; // 16px
$font-size-lg: 1.25rem !default; // 20px
$font-size-sm: 0.875rem !default; // 14px

$padding-base: 1rem !default; // 16px
$padding-lg: 2rem !default; // 32px
$padding-sm: 0.5rem !default; // 8px

$border-radius: 8px !default;
$border-width: 1px !default;

$box-shadow: 0 4px 15px #0000004d !default;
