@use '/src/theme.scss' as theme;

.home-page {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .error-message {
    padding: theme.$padding-base;
    margin-bottom: 1rem;
    color: theme.$red-color;
    background-color: theme.$gray-color;
    border: theme.$border-width solid theme.$red-color;
    border-radius: theme.$border-radius;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    text-align: center;
  }

  .loader {
    border: 0.25rem solid theme.$white-color;
    border-top: 0.25rem solid #3498db;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1s linear infinite;
    max-width: 100%;
    margin: auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .painting-container {
    min-height: 18.75rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .painting-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
    margin-top: 1.25rem;
    width: 100%;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;

    button {
      padding: theme.$padding-base;
      margin: 0 0.3125rem;
      background-color: #007bff;
      color: theme.$white-color;
      border: none;
      cursor: pointer;
      border-radius: 0.3125rem;

      &:disabled {
        background-color: #ccc;
      }
    }

    span {
      padding: 0.625rem;
    }
  }
}
