@use '/src/theme.scss' as theme;

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: theme.$white-color;

  .not-found-title {
    font-size: 6rem;
    font-weight: bold;
    color: theme.$red-color;
    margin: 0;
  }

  .not-found-message {
    font-size: 1.5rem;
    color: #6c757d;
    margin: 1rem 0;
  }

  .not-found-link {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
